# Data Science Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

*Objectives:*
- List popular languages used in Data Science
- List Libraries Data Scientists commonly use
- List some Open Source tools used in data Science


Some of the popular languages used by Data Scientists use are:
1. R
2. Python
3. SQL
4. Julia

Data Scientists also commonly use these libraries:

1. ggplot
2. Caret
3. Plotly
4. dplyr

Some Open source tools used in Data Science.
| Science Tools|
|--------------|
|Hadoop|
|Apache Spark|
|Scikit-Learn|

### Below are a few examples of evaluating arithmetic expressions in Python.

In [14]:
# This is a simple arithmetic expression to multiply then add numbers.That is correct, you heard me right.

(3*4)+5

17

In [13]:
# This will convert 200 minutes into hours by dividing by 60

200/60

3.3333333333333335

## Author.
Corey Feldman

This was completed as part of an assessment task in the IBM Data Science Professional Certificate